/* Container SearchBar e FilterCategory */
.filter-bar-container {
    display: flex;
    align-items: center;
    gap: 1vw;
}


.search-bar-wrapper,
.filter-category-wrapper {
    flex: 1;
    min-width: 250px;
}


/* ========== MEDIA QUERY PER TABLET (da 769px a 1024px) ========== */
@media (max-width: 1024px) {
    .filter-bar-container {
        gap: 3vw;
    }
}

/* ========== MEDIA QUERY PER SMARTPHONE (fino a 768px) ========== */
@media (max-width: 768px) {
    .filter-bar-container {
        flex-direction: column;
        align-items: stretch;
        gap: 4vw;
    }
}