/* RESET BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Bottone che contiene l'icona dei preferiti */
.favorites-icon-button {
    width: 5vw;
    height: 5vw;
    background: #f0f0f3;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.3s ease;
    font-size: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border-radius: 50%;
    /* cerchio perfetto */
    box-shadow: 0.4vw 0.4vw 0.8vw #d1d9e6,
        -0.4vw -0.4vw 0.8vw #ffffff;
}


/* Quando il laptop è nei preferiti */
.favorites-icon-button.active {
    color: #e63946;
}

/* Hover per effetto elegante */
.favorites-icon-button:hover {
    transform: scale(1.15);
    color: #d90429;
}

/* Rende l’icona più evidente */
.favorites-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
}

/* ========== MEDIA QUERY PER TABLET (da 769px a 1024px) ========== */
@media (max-width: 1024px) {
    .favorites-icon-button {
        width: 6vw;
        height: 6vw;
        font-size: 2.5vw;
        box-shadow: 0.5vw 0.5vw 1vw #d1d9e6,
            -0.5vw -0.5vw 1vw #ffffff;
    }
}

/* ========== MEDIA QUERY PER SMARTPHONE (fino a 768px) ========== */
@media (max-width: 768px) {
    .favorites-icon-button {
        width: 13vw;
        height: 13vw;
        font-size: 8vw;
        box-shadow: 0.6vw 0.6vw 1.2vw #d1d9e6,
            -0.6vw -0.6vw 1.2vw #ffffff;
    }
}