/* RESET BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =========================
     NAVBAR PRINCIPALE
   ========================= */
.navbar {
    display: flex;
    justify-content: center;
    gap: 3vw;
    padding: 1.5vw 2vw;
    background-color: #ffffff;
    box-shadow: 0 0.2vw 0.5vw rgba(0, 0, 0, 0.1);
    top: 0;
    z-index: 1000;
}

/* Link della navbar */
.navbar a {
    text-decoration: none;
    color: #333;
    width: 2.5vw;
    font-weight: 500;
    transition: color 0.3s ease, transform 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Icone della navbar */
.nav-icon {
    font-size: 3vw;
}

/* Hover effetto al passaggio del mouse */
.navbar a:hover {
    color: #0a84ff;
    transform: scale(1.05);
}


/* ========== MEDIA QUERY PER TABLET (da 769px a 1024px) ========== */
@media (max-width: 1024px) {
    .navbar {
        gap: 6vw;
        padding: 2vw;
    }

    .navbar a {
        width: auto;
        font-size: 2.5vw;
    }

    .nav-icon {
        font-size: 4vw;
    }
}

/* ========== MEDIA QUERY PER SMARTPHONE (fino a 768px) ========== */
@media (max-width: 768px) {
    .navbar {
        gap: 5vw;
        padding: 5vw 0;
    }

    .navbar a {
        font-size: 5vw;
    }

    .nav-icon {
        font-size: 8vw;
    }
}